
<style>
    .container{
        width: 800px;
        justify-content: center;
        align-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;

    }

    .value1{
        padding: 10px;
        background: #c40000;
        color: #FFF;
        border-radius: 6px;
        width: 15px;
        text-align: center;
        text-decoration: none;
    }
    .value2{
        padding: 10px;
        background: #ffe600;
        color: #FFF;
        border-radius: 6px;
        width: 15px;
        text-align: center;
        text-decoration: none;
    }
    .value3{
        padding: 10px;
        background: #97c003;
        color: #FFF;
        border-radius: 6px;
        width: 15px;
        text-align: center;
        text-decoration: none;
    }
    .value4{
        padding: 10px;
        background: #14ac00;
        color: #FFF;
        border-radius: 6px;
        width: 15px;
        text-align: center;
        text-decoration: none;
    }
    .level{
        display: flex;
        margin: 10px;
        justify-content: space-between;
        width: 350px;
    }
    .answers{
        width: 350px;
        display: flex;
        justify-content: space-between;
    }


</style>
<div class = "conteiner">
    <label>Hi <strong>{{name}}</strong>! How are you?</label>
    <h3>
      {{title}}  
    </h3>
    <br/>
    <strong>{{description}} </strong>

    <div class="level"> 
        <span>Unlikely</span>
        <span>Very likely</span>
    </div>

    <div class="answers">
        <a class="value1" href="">1</a>
        <a class="value1" href="">2</a>
        <a class="value1" href="">3</a>
        <a class="value1" href="">4</a>
        <a class="value2" href="">5</a>
        <a class="value2" href="">6</a>
        <a class="value3" href="">7</a>
        <a class="value3" href="">8</a>
        <a class="value4" href="">9</a>
        <a class="value4" href="">10</a>
    </div>

    <br/>
    <br/>
    <strong> Your opinion is so much important for us!</strong>
</div>